@{
    ViewBag.Title = "Home Page";
}
<img id="jeff-top-pic" src="~/Images/jeff top pic.jpg" class="top-pic" />
<div class="middle-quadrant">
    <div class="top row nopadding">
        <div class="top-left col-md-6">
            <img src="~/Images/Jeffrey Potts 3 Face.jpg" />
        </div>
        <div class="top-right quadrant-text col-md-6">
            <div class="flex-container">
                <h2>HUMBLE BEGINNINGS</h2>
                <p>
                    Jeffrey Potts became interested in the art of clowning
                    as a teenager after watching his grandmother entertain young
                    children at a church carnival. His curiosity launched him into
                    a world of family entertainment, and after extensive self-study,
                    hard work, and eventually professional training, Bungles the Clown
                    emerged.
                </p>
                <p>
                    Excited about his new endeavor, he sought new ways to engage his
                    audiences. His love for entertainment branched into a variety of
                    characters.
                </p>
                <p>
                    Jeffrey has performed in numerous arenas, from corporate events to
                    chidren's birthday parties, grand openings to going out of business
                    sales, the circus to schools and libraries, wherever a clown is needed.
                </p>
            </div>
        </div>
    </div>
    <div class="bottom row nopadding">
        <div class="bottom-left quadrant-text col-md-6">
            <div class="flex-container">
                <h2>PAYING IT FORWARD</h2>
                <p>
                    The joy of providing his audience the opportunity to escape the routine
                    of life, even for just a few moments, has inspired Jeffrey. Bringing smiles
                    and laughter to an audience is a skill that, once started, one never stops
                    pursuing.
                </p>
                <p>
                    Remembering how he thrived from the knowledge passed to him from the entertainers
                    who came before, Jeffrey seeks ways to share all that he has learned: lecturing
                    at conferences across the nation, visiting individual clubs, and developing interactive
                    programs such as the Comedy Clown Clinic and the American Clown Academy.
                </p>
                <p>
                    Three decades later, his love for the art still continues to grow...
                </p>
            </div>
        </div>
        <div class="bottom-right col-md-6">
            <img src="~/Images/Jeffrey Potts 3 Face.jpg" />
        </div>
    </div>
</div>
<div id="HomeQuote">
    <p class="top">"I DON'T ALWAYS MAKE PEOPLE LAUGH,</p>
    <p class="bottom">BUT WHEN I DO, THEY PEE A LITTLE."</p>
    <p class="ender">- JEFFREY</p>
</div>